<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
	<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
	        data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
	        aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<button
		id="logo"
		class="navbar-nav navbar-brand btn-link"
		[routerLink]="['/dashboard']"
		[disabled]="!loggedIn"
	>
		<nuc-dashboard-notification-count>
			<nuc-loading-indicator
				[thresholdInMilliseconds]="1000"
			></nuc-loading-indicator>
		</nuc-dashboard-notification-count>
	</button>

	<nuc-current-mandator class="nav-item"></nuc-current-mandator>

	<div class="collapse navbar-collapse" id="navbarNavDropdown">

		<ul *ngIf="loggedIn && menuStructure" class="navbar-nav mr-auto">
			<li *ngIf="isDevMode" class="nav-item dropdown">
				<a
					class="nav-link dropdown-toggle dev-utils"
					href=""
					data-toggle="dropdown"
					aria-haspopup="true"
					aria-expanded="false"
				>{{'webclient.devUtils.name' | i18n}}</a>
				<div class="dropdown-menu">
					<a class="dropdown-item" [routerLink]="['/swagger-ui']">
						{{'webclient.swaggerUI' | i18n}}
					</a>
					<a class="dropdown-item" [routerLink]="['/businesstests']">
						{{'webclient.businesstests.menu' | i18n}}
					</a>
					<a class="dropdown-item" [routerLink]="['/cache']">
						{{'webclient.cache.overview' | i18n}}
					</a>
					<a class="dropdown-item" [routerLink]="['/view/org_nuclos_system_WebAddon']">
						{{'webclient.addons' | i18n}}
					</a>
				</div>
			</li>
			<li *ngFor="let menuItem of menuStructure.entries" class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" data-toggle="dropdown">
					{{menuItem.name}}
				</a>
				<ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu" (wheel)="doScroll($event)">
					<nuc-menu-item
						[menuItem]="menuItem"
					></nuc-menu-item>
				</ul>
			</li>
		</ul>

		<div class="navbar-toggler-right pr-3">
			<div class="row">

				<nuc-full-text-search class="navbar-text mr-2"></nuc-full-text-search>

				<nuc-locale></nuc-locale>

				<nuc-news-menu></nuc-news-menu>

				<nuc-admin-menu
					[superUser]="isSuperUser()"
				></nuc-admin-menu>

				<nuc-user-menu
					[loggedIn]="loggedIn"
					[username]="username"
					[anonymous]="isAnonymous()"
					[canSharePreferences]="canSharePreferences()"
				></nuc-user-menu>

			</div>
		</div>
	</div>
</nav>
