<nuc-tab-bar
	[values]="eoCharts"
	[titleTemplate]="titleTemplate"
	[contentTemplate]="contentTemplate"
	[(ngModel)]="selectedEoChart"
	[canAdd]="canConfigureChart()"
	[idForAdd]="'newChart'"
	(addValue)="newChart()"
>
</nuc-tab-bar>

<ng-template
	#titleTemplate
	let-eoChart="value"
	let-index="index"
>
	<div
		class="chart-tab-title"
		[id]="tabId(index)"
		[attr.index]="index"
	>
		{{eoChart.chartPreference?.name}}
	</div>
</ng-template>

<ng-template
	#contentTemplate
	let-eoChart="value"
>
	<nuc-detail
		[eoChart]="eoChart"
		[allCharts]="eoCharts"
		class="m-1"
	></nuc-detail>
</ng-template>
