<div
	*ngIf="displayCookieDisclaimer()"
	class="text-center p-2"
>
	{{'webclient.cookies.info1' | i18n}}

	<a id="showprivacycontent"
	   (click)="showPrivacyContent()"
	>
		<span class="link-text">{{'webclient.cookies.info2' | i18n}}</span>{{'webclient.cookies.info3' | i18n}}
	</a>

	<a id="acceptcookies"
	   (click)="acceptCookies()"
	   class="ml-3"
	>
		<span class="fa fa-check-circle"></span>
		<span class="link-text">{{'webclient.cookies.accept' | i18n}}</span>
	</a>
</div>
