:host {
	display: flex;
	flex-grow: 1;
	position: relative;
	height: 100%;
}

.web-grid-container {
	position: relative;
	display: flex;
	flex: 1;
}

.background {
	width: 100%;
	height: 100%;
	position: absolute;
}
