<nuc-mandator-stripe></nuc-mandator-stripe>

<nuc-detail-toolbar
	[eo]="eo"
	[canCreateBo]="canCreateBo"
	[triggerUnsavedChangesPopover]="triggerUnsavedChangesPopover"
	[collectiveProcessing]="collectiveProcessing"
	(onBackToCollectiveProcessingClick)="onBackToCollectiveProcessingClick.emit($event)"
></nuc-detail-toolbar>

<nuc-layout
	[eo]="eo"
></nuc-layout>
