<span id="text-search-container">
	<form class="form-inline search-input">
		<input
				id="text-search-input"
				[placeholder]="getPlaceholder()"
				[(ngModel)]="textSearch"
				[ngModelOptions]="{standalone: true}"
				(ngModelChange)="doTextSearch()"
				class="form-control"
				[disabled]="isDisabled()"
				(keydown.enter)="doTextSearch(true)"
		>
		<span
				class="fa fa-remove clear-searchfilter"
				*ngIf="textSearch"
				(click)="textSearch = ''; doTextSearch();"
		></span>
	</form>
</span>
