<div id="detail-modal-dialog" class="dialog">
	<div class="modal-header" *ngIf="independentContext">
		<nuc-detail-toolbar
			[eo]="eo"
			[autoSelectAfterSaveEnabled]="false"
			[autoSelectAfterDeleteEnabled]="false"
			[useResultServiceForCancelation]="false"
			[showCancelForNewObject]="false"
			[triggerUnsavedChangesPopover]="triggerUnsavedChangesPopover"
		></nuc-detail-toolbar>
		<button id="button-close" type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="close()">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>

	<div class="modal-body">

		<nuc-layout
			[eo]="eo"
		></nuc-layout>

	</div>

	<div class="modal-footer" *ngIf="!independentContext">
		<button id="button-ok" type="button" class="btn btn-primary" (click)="close()">
			{{ 'webclient.button.ok' | i18n }}
		</button>
		<button id="button-cancel" type="button" class="btn btn-primary" (click)="cancel()">
			{{ 'webclient.button.cancel' | i18n }}
		</button>
	</div>
</div>

