<div
	class="ag-cell-label-container ag-header-cell-sorted-none"
	(click)="sort()"
	[title]="params.displayName"
>
	<div class="ag-header-cell-label">
		<div class="ag-header-cell-text">
			<div class="nuclos-grid-header-text ellipsis">
				{{params.displayName}}
			</div>

			<div
				class="sort-indicator sort-{{params.column.getSort()}}"
				*ngIf="params.column.isSorting()"
			>
				<i *ngIf="params.column.isSortAscending()" class="fa fa-chevron-up"></i>
				<i *ngIf="params.column.isSortDescending()" class="fa fa-chevron-down"></i>

				<sup *ngIf="isMultiSort()">
					{{getSortPriority()}}
				</sup>
			</div>
		</div>
	</div>
</div>
