<div *ngIf="visible" style="height: 100%; display: flex; flex-direction: column">
	<div>
		<i class="fa fa-tasks ml-1"></i>

		{{item.taskList.name}}
	</div>

	<div style="flex: 1">
		<nuc-entity-object-grid
			[gridOptions]="gridOptions"
			[columns]="gridColumns"
			(gridReady)="gridReady()"
			(rowClicked)="rowClicked($event)"
			[sortModel]="sortModel"
		></nuc-entity-object-grid>
	</div>
</div>
