<p-autoComplete
	#autoComplete

	[(ngModel)]="model"
	(ngModelChange)="modelChanged.emit(model)"
	(onSelect)="modelChanged.emit(model)"
	[suggestions]="suggestions"
	(completeMethod)="loadSearchLovDropDownOptions($event.query, attribute)"
	[dropdown]="true"
	(keydown)="keydown($event)"
	field="name"
	[multiple]="true"
	[disabled]="disabled"
	appendTo="body"
	(onDropdownClick)="openLovPanel($event)"
>
	<ng-template let-lovItem pTemplate="item">
		<div class="dd-item">
			{{lovItem.name}}
		</div>
	</ng-template>
</p-autoComplete>
