<div id="maintenance-admin" class="row">
	<div class="col-md-4">
		<div class="card">
			<div class="card-header">
				{{'webclient.admin.maintenance.mode' | i18n}}
			</div>
			<div class="card-body">
				<div class="card-block">
					<form>
						<div class="form-group row">
							<label
								class="col-sm-2 col-form-label">{{'webclient.admin.maintenance.mode.status' | i18n}}</label>
							<div class="col-sm-2">
								<small class="form-text text-muted">
									<i class="fa"
									   [ngClass]="{
								   'fa-check-circle icon-on' : maintenanceModeStatus === 'on',
								   'fa-circle icon-initialized' : maintenanceModeStatus === 'initialized',
								   'fa-circle icon-off' : maintenanceModeStatus === 'off'
								   }"
									   style="font-size: 20px;"
									></i>
									<span id="maintenance-mode-status">{{maintenanceModeStatus}}</span>
								</small>
							</div>
						</div>
						<div class="form-group row">
							<button class="btn btn-primary btn-danger"
							        *ngIf="maintenanceModeStatus !== 'on'"
							        id="activate-maintenace-mode-button"
							        (click)="activateMaintenaceMode()"
							>{{'webclient.admin.maintenance.mode.activate' | i18n}}</button>
							<button class="btn btn-primary"
							        *ngIf="maintenanceModeStatus !== 'off'"
							        id="deactivate-maintenace-mode-button"
							        (click)="deactivateMaintenaceMode()"
							>{{'webclient.admin.maintenance.mode.deactivate' | i18n}}</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
