<ng-container *ngFor="let m of menuItem.entries">

	<!-- menu entry-->
	<li *ngIf="m.entries === undefined">
		<a
			[routerLink]="m.boMetaId ? ['/view', m.boMetaId] : []"
			class="dropdown-item"
			[ngClass]="{'dropdown-menu-container': !m.boMetaId}"
			[attr.parentId]="m.parentId"
			[attr.id]="m.id"
		>
			<span class="icon-container">
				<img *ngIf="m.icon" src="{{iconBaseHref}}/{{m.icon}}">
			</span>
			{{m.name}}
		</a>
	</li>

	<!-- submenu entry -->
	<li *ngIf="m.entries !== undefined" class="dropdown-submenu">
		<ul class="dropdown-menu">
			<nuc-menu-item [menuItem]="m"></nuc-menu-item>
		</ul>
		<span class="dropdown-item">{{m.name}}</span>
	</li>

</ng-container>
