<div id="explorertrees">
	<button *ngFor="let tab of getExplorerTabs()" (click)="selectTab(tab)" class="btn explorerbutton">
		<span *ngIf="tab !== selected">{{tab.label}}</span>
		<span *ngIf="tab === selected"><b>{{tab.label}}</b></span>
	</button>

</div>
