<nuc-tab-bar>
	<nuc-tab
		[id]="'chart-tab-options'"
		[title]="'webclient.charts.options' | i18n"
	>
		<ng-template nucTabContent>
			<nuc-options
				[eoChart]="eo"
				class="m-1"
			></nuc-options>
		</ng-template>
	</nuc-tab>
	<nuc-tab
		[id]="'chart-tab-extended'"
		[title]="'webclient.charts.extended' | i18n"
	>
		<ng-template nucTabContent>
			<nuc-extended
				[eoChart]="eo"
			></nuc-extended>
		</ng-template>
	</nuc-tab>
</nuc-tab-bar>
