<nuc-news-route></nuc-news-route>

<nuc-css-from-systemparameter></nuc-css-from-systemparameter>

<ng-template ngbModalContainer></ng-template>
<nuc-dialog></nuc-dialog>

<ngx-loading
	[show]="busy"
	[config]="{
			fullScreenBackdrop: true,
			animationType: loadingAnimationType,
	        backdropBackgroundColour: 'rgba(0, 0, 0, 0.3)',
	        primaryColour: '#ffffff',
	        secondaryColour: '#ffffff',
	        tertiaryColour: '#ffffff'
        }"
></ngx-loading>

<header>
	<nuc-cookie-disclaimer></nuc-cookie-disclaimer>

	<nuc-menu></nuc-menu>
</header>
<main>
	<div id="center">
		<router-outlet></router-outlet>
	</div>
</main>


