<nuc-dropdown
	id="nuc-search-attribute-selector-subform-dropdown"
	*ngIf="subformSearchEnabled"
    [ngModel]="selectedEntity"
    (ngModelChange)="modelChangeEntity($event)"
    (onSelect)="selectEntity($event)"
    [suggestions]="availableEntities"
    (completeMethod)="loadEntities($event)"
    (onDropdownClick)="loadEntities('');"
	[placeholder]="'webclient.searcheditor.subform.placeholder' | i18n"
	field="name"
	secondaryField="mainEntity"
	dropdown="true"
	appendTo="body">
</nuc-dropdown>

<nuc-dropdown
	id="nuc-search-attribute-selector-dropdown"
	[ngModel]="selectedValue"
	(ngModelChange)="modelChange($event)"
	(onSelect)="selectAttribute($event)"
	[suggestions]="availableAttributes"
	(completeMethod)="loadAttributes($event)"
	(onDropdownClick)="loadAttributes('');"
	[placeholder]="'webclient.searcheditor.searchattribute.placeholder' | i18n"
	field="name"
	dropdown="true"
	appendTo="body"
></nuc-dropdown>

<span *ngIf="!subformSearchEnabled && hasDependentEntities()">
	{{'webclient.or.in' | i18n}}&nbsp;
	<a (click)="enableSubformSearch()"
	   id="nuc-search-enable-subform-button"
	   class="card-link"
	   href="#" >{{'webclient.subform' | i18n}}</a>
</span>
