<ngb-tabset
	#tabset="ngbTabset"
	[activeId]="getSelectedTabId()"
	(tabChange)="emitTabChange($event)"
>

	<!-- Explicitly defined tabs -->
	<ngb-tab
		*ngFor="let tab of tabs; let i = index"
		[id]="tab.id"
		[title]="tab.title"
		[attr.index]="i"
	>
		<ng-template ngbTabContent>
			<ng-container *ngTemplateOutlet="tab.contentTemplate?.templateRef"></ng-container>
		</ng-template>
	</ngb-tab>

	<!-- Tabs created for given values -->
	<ngb-tab
		*ngFor="let value of values; let i = index"
		[id]="tabId(i)"
		[attr.index]="tabs.length + i"
	>
		<ng-template ngbTabTitle>
			<div
				class="tab-title"
				[ngClass]="{active: tabId(i) === getSelectedTabId()}"
				[attr.index]="i"
			>
				<ng-container ngbTabTitle
					*ngTemplateOutlet="titleTemplate;context:{value: value, index: i}"
				></ng-container>
			</div>
		</ng-template>

		<ng-template ngbTabContent>
			<ng-container ngbTabContent
				*ngTemplateOutlet="contentTemplate;context:{value: value, index: i}"
			></ng-container>
		</ng-template>
	</ngb-tab>

	<!-- "Add new" tab -->
	<ngb-tab
		*ngIf="canAdd"
		[id]="addTabId"
	>
		<ng-template ngbTabTitle>
			<div
				[id]="idForAdd || 'addTab'"
				(click)="addTab($event)"
			>
				+
			</div>
		</ng-template>

		<ng-template ngbTabContent></ng-template>
	</ngb-tab>
</ngb-tabset>

<ng-template ngbTabTitle>
	<div
		class="tab-title"
		[ngClass]="{active: tabId(i) === getSelectedTabId()}"
		[attr.index]="i"
	>
		<ng-container ngbTabTitle
			*ngTemplateOutlet="titleTemplate;context:{value: value, index: i}"
		></ng-container>
	</div>
</ng-template>
