:host {
	height: 100%;
}

:host >>> .tab-content {
	flex: 1;
	display: flex;
	flex-direction: column;
}

:host >>> .tab-pane {
	height: 100%;
	display: flex;
	flex-direction: column;
	border: 1px solid lightgray;
	border-top: 0px;
	/*padding: 5px;*/
	background-color: #f8f8f8;
}

:host >>> .tab-panel {
	flex: 1;
	/*border: 1px solid lightgray;*/
}

ngb-tabset {
	height: 100%;
	display: flex;
	flex-direction: column;
}

:host >>> .nav-tabs {
	border-bottom-width: 1px;
	/*flex-wrap: wrap;*/
}

:host {
	height: 100%;
	display: flex;
	flex-direction: column;
}

#newChart, #newSeries {
	margin: -8px -16px -16px -16px;
	padding: 8px 16px 16px 16px;
}
