<div class="container">
	<div class="row">
		<div class="col-md-3"></div>
		<div class="col-md-6">
			<div class="card mt-5" id="activation-container">
				<div class="card-header">
					<h4 align=middle>{{'webclient.account.activate' | i18n}}</h4>
				</div>
				<div class="card-block">
					<div class="row">
						<div class="col-md-12 text-center">
							<div [class]="'alert alert-' + messageType">
								<b>{{messageTitle}}</b><br/>
								{{messageText}}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
