<div>
	<label class="custom-control custom-radio">
		<input #customizedFilterAll type="radio" value="all" name="customized-filter" style="height: 20px"
			(ngModelChange)="onChangeIsCustomized($event)" [ngModel]="customizedFilterType" class="custom-control-input">
		<span class="custom-control-indicator"></span>
		<span class="custom-control-description">{{'webclient.preferences.customizedFilter.all' | i18n }}</span>
	</label>
	<label class="custom-control custom-radio">
		<input #customizedFilterCustomized type="radio" value="customized" name="customized-filter" style="height: 20px"
			(ngModelChange)="onChangeIsCustomized($event)" [ngModel]="customizedFilterType" class="custom-control-input">
		<span class="custom-control-indicator"></span>
		<span class="custom-control-description">{{'webclient.preferences.customizedFilter.onlyCustomized' | i18n }}</span>
	</label>
	<label class="custom-control custom-radio">
		<input #customizedFilterNotcustomized type="radio" value="notcustomized" name="customized-filter" style="height: 20px"
			(ngModelChange)="onChangeIsCustomized($event)" [ngModel]="customizedFilterType" class="custom-control-input">
		<span class="custom-control-indicator"></span>
		<span class="custom-control-description">{{'webclient.preferences.customizedFilter.notCustomized' | i18n }}</span>
	</label>
</div>
